body {
	background: #282827;
	font-family: arial, helvetica, sans-serif;
	font-size: 14px;
	line-height: 23px;
	color: #FFF;
}
/*
	Fix for GylphIcons positioned a little top
*/
.glyphicon{
	top:8px;
}

#format-toolbar1 span, #format-toolbar2 span {
	margin-left:10px;
	margin-top: -3px;
	display: block;
	z-index: -1;
}

#format-toolbar1, #format-toolbar2 {
    margin-left: auto;
    margin-top: 100px;
    margin-right: auto;
    float: left; 
    width: 36px;
	height: 28px;
	border-radius: 5px;		
	border: 1px solid #161615; 
	box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, .26), 0px 1px 0px 0px rgba(255, 255, 255, .15);
	opacity: 0.7;
	background-color: #343433;
	z-index: 2;
	display: block;
	margin: 20px 44px;
}
#format-toolbar1:hover, #format-toolbar2:hover{
	background-color: transparent;
	opacity: 1;
	cursor: pointer;
	z-index: 2;
}
#format-toolbar-options { display: none; }